# Rootfs scripts
*.sh /@code002-2

# Kernel build
sheng-kernel_build.sh /@map220v

# CI workflows
.github/workflows/ /@code002-2

# Device tree / firmware configs
linux-xiaomi-sheng/ /@map220v
firmware-xiaomi-sheng/ /@map220v
alsa-xiaomi-sheng/ /@map220v
sheng-devauth/ /@map220v

# Documentation
*.md /@code002-2
