Package: sheng-sensors
Version: 20240917-1
Section: misc
Priority: optional
Architecture: arm64
Maintainer: Fauzan Amir Al Ghiffary <alghiffaryfa19@gmail.com>
Description: Sensor files for Xiaomi Mi Pad 6s Pro
 Proprietary sensor configuration files.
